*{
    word-break: keep-all;
}

.x-scroll{
    overflow-x: auto;
}

.vertical-middle{
    vertical-align: middle;
}

.underlined{
    text-decoration: underline;
}

/* hk */
.gt-page-content {
    color: #363232;
}

/* end of hk */
.gt-page-content p{
    font-size: 16px;
}

.content-container{
    padding: 100px 50px;
}

.content-container .title-wrap{
    padding: 100px 0;
    line-height: 200%;
}

.content-container .inform{
    padding: 200px 0;
}

.content-container ul.desc li{
    font-size: 14px;
}

.content-container .table-wrapper{
    width:100%;
    overflow-x:scroll;
}
/* hk */
.cover_hk {
    padding: 10px 10px;
    width: 10%;
    border: 1px solid #352d2d;
    box-shadow: 0 4px 22px rgba(0, 0, 0, 0.04);
    border-radius: 9px;
}
/*
.d-flex > * {
  flex: 1;
}
*/
.box_1 {
    padding: 10px 10px;
    width: 100%;
    border: 1px solid #E3E3E3;
    box-shadow: 0 4px 22px rgba(0, 0, 0, 0.04);
    border-radius: 9px;

    text-align: center;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 0.1em;

}
.box {
    padding: 10px 10px;
    width: 100%;
    /*border: 1px solid #E3E3E3;
    box-shadow: 0 4px 22px rgba(0, 0, 0, 0.04);
    border-radius: 9px;*/
}
.box h6{
    line-height: 200%;
}
.box ul{
    list-style-type: none;
    }

.box li{
    font-size: 14px;
    margin-top: 2%;
}
.box .text-wrap {
    background: #e7e9d8;
    border-radius: 9px;
    padding: 5px 0px;
    text-align: center;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 0.1em;
}

.table-head-hk {
    background: #730734;
    color: beige;
}

/* end of hk */
table {
    width: 100%;
    table-layout: fixed;
}
.table-head-hk th:nth-child(1) { width: 24%; }  /* 구 분 */
.table-head-hk th:nth-child(2) { width: 23%; }  /* 10억 공제 */
.table-head-hk th:nth-child(3) { width: 23%; }  /* 배우자 상속공제 활용 */
.table-head-hk th:nth-child(4) { width: 30%; }  /* 참 고 */

.result-table thead{
    background: #730734;
}

.result-table thead th{
    font-weight: bold;
    color:white;
    vertical-align: middle;
    text-align: center;
    padding-top:5px; 
    padding-bottom:5px; 
    font-size: 14px;
}
.result-table tr{
    font-size: 14px;
    border-bottom:0.3pt solid #595959; 
    border-top:none; 
    border-right:none; 
    border-left:none;
}

.result-table .table-tail-hk {
    border-bottom: 2pt solid #730734;
}
/*.result-table tbody{
    padding-top:10px; 
    padding-left:10px;
    padding-right:10px;
    padding-bottom:10px; 
    font-size: 12px;
}
*/
.report-container .description{
    margin-bottom:.0001pt; 
    margin:0cm 0cm 10pt; 
    text-align:justify;
    font-size: 15px;
    line-height:180%;
    font-family:'Nanum Square';
}

.report-container .description div:nth-child(n+2){
    margin-top: 7px;
}

.report-container .description .small-text{
    font-size: 13px;
}

.report-container .description .result-description {
    color:#730734;
    font-weight: bold;
}
.num-list{
    counter-reset: number 0;
    list-style:none;
    font-size: 14px;
}

.num-list li:nth-child(n+2){
    margin-top: 10px;
}

.num-list li span.title{
    font-size: 16px;
    font-weight: bold;
}

.num-list li dl dd{
    margin-bottom: 10px;
}

.btnCopy{
    border-color: 1px solid var(--paletteColor1);
    background-color: var(--paletteColor1);
    font-size: 16px;
}

.btnCopy:hover{
    border-color: 1px solid var(--paletteColor1);
    color: var(--paletteColor1);
    background-color: transparent;
}

@media (max-width: 767px) {
    .gt-page-content p{
        font-size: 12px;
    }
    .content-container{
        padding: 20px 0;
    }

    .num-list{
        padding-left: unset;
    }
}
