/* ------- 전체 --------*/
:root{
    --text-color: #001a1a;
    --base-color: #e6ffff;
    --back-color: #035555;
    --point-color: yellowgreen;
}
body {
    margin: 0;
    font-family: 'Nanum Gothic', sans-serif;
}

a {
    text-decoration: none;
    color: var(--base-color)
}

input {
  border: none;
  border-bottom: 1px solid #ccc; /* 아래 밑줄 색상과 두께 지정 */
  outline: none; /* 포커스 시 나타나는 외곽선 제거 */
  text-align: right; /* 텍스트 우측 정렬 */
  width: 130px;
  padding-right: 5px;
  display: inline-flex; /* 또는 display: block; */
  background-color: rgb(243, 239, 238);
}

/* ------- menu bar ------- */
.main_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--back-color);
    padding: 8px 12px;
}

.menu_logo {
    font-size: 24px;
    color: var(--base-color);
}

.menu_logo i {
    font-size: 24px;
    color: var(--point-color);
}
.menu_list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
}

.menu_list li {
   padding: 8px 12px;
}

.menu_list a:hover {
    color: var(--point-color);
 }

 /* 포스팅 목록 */
 .page-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

 .board {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 2rem;
}

.board_list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.board_list li {
  border-bottom: 1px solid #ccc;
}

.board_list li:last-child {
  border-bottom: none;
}

.board_list li a {
  display: block;
  padding: 10px;
  color: #333;
  font-weight: bold;
  text-decoration: none;
  background-color: #f9f9f9;
}

.board_list li a:hover {
  background-color: #e9e9e9;
  color: #000;
}
/* 포스팅목록 end */

 .toggle_bar {
    display: none;
    position:absolute;
    right: 32px;
    font-size: 24px;
    color: var(--point-color);
 }

 .expandable {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .expandable .header {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .expandable .header .button {
    width: 100px;
    height: 100px;
    background-color: blue;
    color: white;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .expandable .header .button:hover {
    background-color: red;
  }
  
  .expandable .content {
    display: none;
  }
  
  .expandable:hover .content {
    display: block;
  }
  /* ----- page  --------- */

/* ---- 반응형 코딩 -----*/
@media screen and (max-width: 768px) {
    .main-menu {
        flex-direction: column;
        align-items: flex-start;
    }
    .menu_list {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .toggle_bar{
        display: block;
    }

    .menu_list.active {
        display: flex;
    }
 }
